<?xml version="1.0"?>
<config>
  <modules>
    <Aurigait_Landingpage>
      <version>0.1.0</version>
    </Aurigait_Landingpage>
  </modules>
  <frontend>
    <routers>
      <landingpage>
        <use>standard</use>
          <args>
            <module>Aurigait_Landingpage</module>
            <frontName>landingpage</frontName>
          </args>
      </landingpage>
    </routers>
		<layout>
		  <updates>
			<landingpage>
			  <file>aurigait_landingpage.xml</file>
			</landingpage>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <landingpage>
        <class>Aurigait_Landingpage_Helper</class>
      </landingpage>
    </helpers>
    
    <models>
	  <Landingpage>
		<class>Aurigait_Landingpage_Model</class>
	  </Landingpage>
	</models>
	
 
	<events>
	  <customer_register_success> <!-- identifier of the event we want to catch -->
        <observers>
          <customer_reg> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>Landingpage/observer</class> <!-- observers class alias -->
            <method>saveEthnicity</method>  <!-- observer's method to be called -->
           </customer_reg>          
        </observers>
      </customer_register_success>
      </events>
    
	<blocks>
	  <landingpage>
		<class>Aurigait_Landingpage_Block</class>
	  </landingpage>
	</blocks>
	<resources>
	  <landingpage_setup>
		<setup>
		  <module>Aurigait_Landingpage</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </landingpage_setup>
	  <landingpage_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </landingpage_write>
	  <landingpage_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </landingpage_read>
	</resources>
  </global>
</config> 