<?xml version="1.0"?>
<config>
  <modules>
    <Aurigait_Voucher>
      <version>0.1.0</version>
    </Aurigait_Voucher>
  </modules>
  <frontend>
    <routers>
      <voucher>
        <use>standard</use>
          <args>
            <module>Aurigait_Voucher</module>
            <frontName>voucher</frontName>
          </args>
      </voucher>
    
      
    </routers>
		<layout>
		  <updates>
			<voucher>
			  <file>voucher.xml</file>
			</voucher>
		  </updates>
		</layout>
	<events>
	
    <!--  Somesh Remoing Event as we have combined voucher with welcome mail
      <customer_register_success>
        <observers>
          <aurigait_voucher_observer>
            <type>singleton</type>
            <class>voucher/observer</class>
            <method>mailwelcomevouhcer</method>
          </aurigait_voucher_observer>
        </observers>
      </customer_register_success>
      !-->
      
      <sales_quote_collect_totals_after>
      	<observers>
      		<aurigait_voucher_observer>
      		    <type>singleton</type>
	            <class>voucher/observer</class>
	            <method>setDiscount</method>
      		</aurigait_voucher_observer>
      	</observers>
      	
      </sales_quote_collect_totals_after>
      
      <sales_order_invoice_save_after>
      		<observers>
      		<aurigait_voucher_observer>
      		    <type>singleton</type>
	            <class>voucher/observer</class>
	            <method>UpdateCustomCoupon</method>
      		</aurigait_voucher_observer>
      	</observers>
      	
      </sales_order_invoice_save_after>
       
    </events>
    
		
		
  </frontend>
  
  <global>
    <helpers>
      <voucher>
        <class>Aurigait_Voucher_Helper</class>
      </voucher>
    </helpers>
	<blocks>
	  <voucher>
		<class>Aurigait_Voucher_Block</class>
	  </voucher>

	<!--	    <adminhtml>
				<rewrite>
					<promo_quote_edit_form>Aurigait_Voucher_Block_Adminhtml_Promo_Quote_Edit_Form</promo_quote_edit_form>
				</rewrite>
			</adminhtml>
		<adminhtml>
			<rewrite>
			     <promo_quote_edit_tab_actions>Aurigait_Voucher_Block_Adminhtml_Promo_Quote_Edit_Tab_Actions</promo_quote_edit_tab_actions>
			</rewrite>
		</adminhtml>
		<adminhtml>
			<rewrite>
				<promo_quote_edit_tab_main>Aurigait_Voucher_Block_Adminhtml_Promo_Quote_Edit_Tab_Main</promo_quote_edit_tab_main>
			</rewrite>
		</adminhtml> -->
		<adminhtml>
			<rewrite>
				<sales_order_create_coupons>Aurigait_Voucher_Block_Adminhtml_Sales_Order_Create_Coupons</sales_order_create_coupons>
			</rewrite>
		</adminhtml>
		
		
	</blocks>
	<models>	  
		<voucher>
			<class>Aurigait_Voucher_Model</class>
			<resourceModel>voucher_mysql4</resourceModel>
	  	</voucher>
	  	<voucher_mysql4>
			<class>Aurigait_Voucher_Model_Mysql4</class>
			<entities>		  
				<voucherlistcustomer>
					<table>voucher_allcouponlist</table>
			  	</voucherlistcustomer>
			  	<invitefriend>
					<table>voucher_referfriendlist</table>
			  	</invitefriend>
			  	<invitivoucherreport>
				<table>voucher_referfriendlist</table>
			  </invitivoucherreport>
        	</entities>
	  	</voucher_mysql4>
	    
	          <salesrule>
				<rewrite>
					<validator>Aurigait_Voucher_Model_SalesRule_Validator</validator>
				</rewrite>
		    </salesrule>
		<!--     <sendfriend>
				<rewrite>
					<sendfriend>Aurigait_Voucher_Model_Sendfriend_Sendfriend</sendfriend>
				</rewrite>
			</sendfriend>  -->
	</models>
	<!-- <models>
		<voucher>
			<class>Aurigait_Voucher_Model</class>
		</voucher>
	</models>
	
	<events>
      <sales_quote_collect_totals_before>
        <observers>
          <aurigait_voucher_observer>
            <type>singleton</type>
         	   <class>Aurigait_Voucher_Model_Observer</class>
            <method>apply_discount_percent</method>
          </aurigait_voucher_observer>
        </observers>
      </sales_quote_collect_totals_before>     
    </events> -->
    
    <rewrite>        
            <aurigait_voucher_checkout_cartcontroller>
                <from><![CDATA[#^/checkout/cart/#]]></from> <!-- Mage_Checkout_CartController  -->
                <to>/voucher/checkout_cart/</to> <!-- Aurigait_Voucher_Checkout_CartController  -->
            </aurigait_voucher_checkout_cartcontroller>
      
	</rewrite>
	
	
	
 <!-- 	<rewrite>        
            <aurigait_voucher_sendfriend_productcontroller>
                <from><![CDATA[#^/sendfriend/product/#]]></from>   
                <to>/voucher/sendfriend_product/</to>  
            </aurigait_voucher_sendfriend_productcontroller>
		</rewrite> -->
	<events>
	
	
	
	<order_cancel_after>
                <observers>
                    <updatecouponcountOrdercancel>
                    <type>model</type>
                    <class>Aurigait_Voucher_Model_Observer</class>
                    <method>ordercancel</method>
                    </updatecouponcountOrdercancel>
                </observers>
    </order_cancel_after>
    
	<core_block_abstract_prepare_layout_after>
                <observers>
                    <addJsforcouponupdate>
                    <type>model</type>
                    <class>Aurigait_Voucher_Model_Observer</class>
                    <method>core_block_abstract_prepare_layout_after_javascript_init</method>
                    </addJsforcouponupdate>
                </observers>
    </core_block_abstract_prepare_layout_after>
	
	
	
	<adminhtml_promo_quote_edit_tab_main_prepare_form> <!-- identifier of the event we want to catch -->
       <observers>
         <adminhtml_promo_quote_edit_tab_main_prepare_form_handler> <!-- identifier of the event handler -->
           <type>singleton</type> <!-- class method call type; valid are model, object and singleton -->
           <class>voucher/observer</class> <!-- observers class alias -->
           <method>alterform</method>  <!-- observer's method to be called -->
           <args></args> <!-- additional arguments passed to observer -->
         </adminhtml_promo_quote_edit_tab_main_prepare_form_handler>
         
       </observers>
     </adminhtml_promo_quote_edit_tab_main_prepare_form>
     <adminhtml_block_salesrule_actions_prepareform> <!-- identifier of the event we want to catch -->
       <observers>
         <adminhtml_promo_quote_edit_tab_actions_prepare_form_handler> <!-- identifier of the event handler -->
           <type>singleton</type> <!-- class method call type; valid are model, object and singleton -->
           <class>voucher/observer</class> <!-- observers class alias -->
           <method>alterform2</method>  <!-- observer's method to be called -->
           <args></args> <!-- additional arguments passed to observer -->
         </adminhtml_promo_quote_edit_tab_actions_prepare_form_handler>
         
       </observers>
     </adminhtml_block_salesrule_actions_prepareform>
     <adminhtml_promo_quote_edit_form_prepare_form> <!-- identifier of the event we want to catch -->
       <observers>
         <adminhtml_promo_quote_edit_form_prepare_form_handler> <!-- identifier of the event handler -->
           <type>singleton</type> <!-- class method call type; valid are model, object and singleton -->
           <class>voucher/observer</class> <!-- observers class alias -->
           <method>alterform1</method>  <!-- observer's method to be called -->
           <args></args> <!-- additional arguments passed to observer -->
         </adminhtml_promo_quote_edit_form_prepare_form_handler>
         
       </observers>
     </adminhtml_promo_quote_edit_form_prepare_form>
     </events>
    
  </global>
     <crontab>
        <jobs>            
			<voucher_setUsercommulativeVoucher>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>voucher/cron::setUsercommulativeVoucher</model></run>
            </voucher_setUsercommulativeVoucher>
            
            <voucher_setInvitationvoucher>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>voucher/cron::setInvitationvoucher</model></run>
            </voucher_setInvitationvoucher>
        </jobs>
    </crontab>
  
  <admin>
	<routers>
	  <voucher>
	    <use>admin</use>
		<args>
		  <module>Aurigait_Voucher</module>
		  <frontName>voucher</frontName>
		</args>
	  </voucher>
	   <adminhtml>
               <args>
                   <modules>
                       <Aurigait_Voucher before="Mage_Adminhtml">Aurigait_Voucher_Adminhtml</Aurigait_Voucher>
                   </modules>
               </args>
           </adminhtml>
	</routers>
  </admin>
  
  
  <adminhtml>
	<menu>
		<report>
			<children>
	  			<voucher module="voucher">
					<title>Voucher</title>
						<sort_order>100</sort_order>
						<children>
							<welcomereport module="voucher">
								<title>Welcome Voucher Report</title>
								<sort_order>0</sort_order>
								<action>voucher/adminhtml_voucherbackend/welcomereport</action>
							</welcomereport>
							<adminvcreport module="voucher">
								<title>Admin Defined Voucher Report</title>
								<sort_order>1</sort_order>
								<action>voucher/adminhtml_voucherbackend/adminvcreport</action>
							</adminvcreport>
							
							<invitivcreport module="voucher">
								<title>Invitation Voucher Report</title>
								<sort_order>2</sort_order>
								<action>voucher/adminhtml_voucherbackend/invitivcreport</action>
							</invitivcreport>
							
							<usercumulativevcreport module="voucher">
								<title>User Cumulative Voucher Report</title>
								<sort_order>3</sort_order>
								<action>voucher/adminhtml_voucherbackend/usercumulativevcreport</action>
							</usercumulativevcreport>
							<ordercumulativevcreport module="voucher">
								<title>Order Cumulative Voucher Report</title>
								<sort_order>4</sort_order>
								<action>voucher/adminhtml_voucherbackend/ordercumulativevcreport</action>
							</ordercumulativevcreport>
							
						</children>
	  			</voucher>
	  		</children>
	  </report>
	  
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  
		  <report>
		  
		  <children>
		  
			<voucher translate="title" module="voucher">
			  <title>Voucher</title>
			  <sort_order>1000</sort_order>
			  <children>
				  <welcomereport module="voucher">
						<title>Welcome Voucher Report</title>
						<sort_order>0</sort_order>
						<action>voucher/adminhtml_voucherbackend/welcomereport</action>
					</welcomereport>
					<adminvcreport module="voucher">
						<title>Admin Defined Voucher Report</title>
						<sort_order>1</sort_order>
						<action>voucher/adminhtml_voucherbackend/adminvcreport</action>
					</adminvcreport>
					
					<invitivcreport module="voucher">
						<title>Invitation Voucher Report</title>
						<sort_order>2</sort_order>
						<action>voucher/adminhtml_voucherbackend/invitivcreport</action>
					</invitivcreport>
					
					<usercumulativevcreport module="voucher">
						<title>User Cumulative Voucher Report</title>
						<sort_order>3</sort_order>
						<action>voucher/adminhtml_voucherbackend/usercumulativevcreport</action>
					</usercumulativevcreport>
					<ordercumulativevcreport module="voucher">
						<title>Order Cumulative Voucher Report</title>
						<sort_order>4</sort_order>
						<action>voucher/adminhtml_voucherbackend/ordercumulativevcreport</action>
					</ordercumulativevcreport>
					
			  </children>
			</voucher>
			</children>
			</report>
			
		   
		</admin>
	      <voucher_setup>
		<setup>
		  <module>Aurigait_Voucher</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
		  </voucher_setup>
		  <voucher_write>
			<connection>
			  <use>core_write</use>
			</connection>
		  </voucher_write>
		  <voucher_read>
			<connection>
			  <use>core_read</use>
			</connection>
		  </voucher_read>
	</resources>
	</acl>
	<layout>
	  <updates>
		<voucher>
		  <file>voucher.xml</file>
		</voucher>
	  </updates>
	</layout>
  </adminhtml>
</config> 
