<?xml version="1.0"?>
<config>
	  <tabs>
		<voucher translate="label" module="voucher">
            <label>Voucher info</label>
            <sort_order>10</sort_order>
        </voucher>
	  </tabs>
	  <sections>
		<invitationvoucher  translate="label" module="voucher">                    
		<label>Invitation Vouchers</label>
		<tab>voucher</tab>
		<frontend_type>text</frontend_type>
		<sort_order>1</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <ginvitationvoucher translate="label"> 
					  <label>Invitation Voucher Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <friendacceptationperiod translate="label">
                            <label>Permissible Friend acceptation period</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Days from invitation sent</comment>
                          </friendacceptationperiod>
                          <friendpurchaseperiod translate="label">
                            <label>Permissible Friend purchase period</label>
							<frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Days from registration on Indidelights</comment>
                          </friendpurchaseperiod>
                          <voucherissueperiod translate="label">
                            <label>Voucher Issue Period</label>
							<frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Days after friend makes Purchase -  to avoid order cancellations</comment>
                          </voucherissueperiod>
                          
                          <offerprice translate="label">
                            <label>Offer Discount Price</label>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>% of friends' order value</comment>
                          </offerprice>
                          
                            <maximumdiscountamout translate="label">
                            <label>Maximum Disocunt Amount Permitted</label>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment></comment>
                          </maximumdiscountamout>
                          
                            <minimumpurchaseamount translate="label">
                            <label>Minimum Purchase Amount</label>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment></comment>
                          </minimumpurchaseamount>
                          
                         
                          
                          
                          
                          <vouchervalidityperiod translate="label">
                            <label>Voucher Validity Period</label>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Days from issue of Voucher </comment>
                          </vouchervalidityperiod>
                          <icon translate="label">
                            <label>Icon</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">catalog/product/watermark</upload_dir>
                            <base_url type="media" scope_info="1">catalog/product/watermark</base_url>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </icon>
                          <termsconditions translate="label">
                            <label>Terms and Conditions</label>
							<frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </termsconditions>
					   </fields>
					   </ginvitationvoucher>
					</groups>
		</invitationvoucher>
		<admindefiend  translate="label" module="voucher">                    
		<label>Admin Defined Vouchers</label>
		<tab>voucher</tab>
		<frontend_type>text</frontend_type>
		<sort_order>2</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <gadmindefiend translate="label"> 
					  <label>Admin Defined Vouchers Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                      
                      
                            <maximumdiscountamout translate="label">
                            <label>Maximum Disocunt Amount Permitted</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment></comment>
                          </maximumdiscountamout>
                          
                          
                          <icon translate="label">
                            <label>Icon</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">catalog/product/watermark</upload_dir>
                            <base_url type="media" scope_info="1">catalog/product/watermark</base_url>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </icon>
                          <termsconditions translate="label">
                            <label>Terms and Conditions</label>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </termsconditions>
					   </fields>
					   </gadmindefiend>
					</groups>
		</admindefiend>
		
		<ordercumulative  translate="label" module="voucher">                    
		<label>Order Cumulative Voucher</label>
		<tab>voucher</tab>
		<frontend_type>text</frontend_type>
		<sort_order>4</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <gordercumulative translate="label"> 
					  <label>Order Cumulative Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          
                          <icon translate="label">
                            <label>Icon</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">catalog/product/watermark</upload_dir>
                            <base_url type="media" scope_info="1">catalog/product/watermark</base_url>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </icon>
                          <termsconditions translate="label">
                            <label>Terms and Conditions</label>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </termsconditions>
					   </fields>
					   </gordercumulative>
					</groups>
		</ordercumulative>		
		
		
		<usercumulativevouchers  translate="label" module="voucher">                    
		<label>User Cumulative Purchase Vouchers</label>
		<tab>voucher</tab>
		<frontend_type>text</frontend_type>
		<sort_order>3</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <gusercumulativevouchers translate="label"> 
					  <label>User Cumulative Vouchers Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <voucherperiod translate="label">
                            <label>Voucher Period</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </voucherperiod>
                          <thresholdamount translate="label">
                            <label>Threshold Amount</label>
							<frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </thresholdamount>
                          <alertamount translate="label">
                            <label>Alert Amount</label>
							<frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </alertamount>
                          
                          
                           <offerprice translate="label">
                            <label>Offer Discount </label>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>% of  total order value</comment>
                          </offerprice>
                          
                            <maximumdiscountamout translate="label">
                            <label>Maximum Disocunt Amount Permitted</label>
							<frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment></comment>
                          </maximumdiscountamout>
                          
                            <minimumpurchaseamount translate="label">
                            <label>Minimum Purchase Amount</label>
							<frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment></comment>
                          </minimumpurchaseamount>
                          
                         
                          <icon translate="label">
                            <label>Icon</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">catalog/product/watermark</upload_dir>
                            <base_url type="media" scope_info="1">catalog/product/watermark</base_url>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </icon>
                          <termsconditions translate="label">
                            <label>Terms and Conditions</label>
							<frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </termsconditions>
					   </fields>
					   </gusercumulativevouchers>
					</groups>
		</usercumulativevouchers>
		<welcomevoucher  translate="label" module="voucher">                    
		<label>Welcome Voucher</label>
		<tab>voucher</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <gwelcomevoucher translate="label"> 
					  <label>Welcome Voucher Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
				       
				       <welcomediscode translate="label">
                            <label>Weclome discount Code</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment></comment>
                       </welcomediscode>
				       
				         <!-- <maximumdiscountamout translate="label">
                            <label>Maximum Disocunt Amount Permitted</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment></comment>
                          </maximumdiscountamout> -->
                          <vouchervaliditypperiod translate="label">
                            <label>Voucher Validity Period</label>
							<frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>IN days only </comment>
                          </vouchervaliditypperiod>
                          <icon translate="label">
                            <label>Icon</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">catalog/product/watermark</upload_dir>
                            <base_url type="media" scope_info="1">catalog/product/watermark</base_url>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </icon>
                          <termsconditions translate="label">
                            <label>Terms and Conditions</label>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </termsconditions>
					   </fields>
					   </gwelcomevoucher>
					</groups>
		</welcomevoucher>
	  </sections>
</config>
