<?xml version="1.0"?>
<config>
  <modules>
    <Aurigait_Reviewproduct>
      <version>0.1.0</version>
    </Aurigait_Reviewproduct>
  </modules>
  <frontend>
    <routers>
      <reviewproduct>
        <use>standard</use>
          <args>
            <module>Aurigait_Reviewproduct</module>
            <frontName>reviewproduct</frontName>
          </args>
      </reviewproduct>
    </routers>
		<layout>
		  <updates>
			<reviewproduct>
			  <file>reviewproduct.xml</file>
			</reviewproduct>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <reviewproduct>
        <class>Aurigait_Reviewproduct_Helper</class>
      </reviewproduct>
    </helpers>
	<blocks>
	  <reviewproduct>
		<class>Aurigait_Reviewproduct_Block</class>
	  </reviewproduct>
	</blocks>
  </global>
</config> 