@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

a, a:visited{ color:#463c57;}

body{font-family: 'Open Sans', sans-serif;}
.filter-subcat a, .jm-datetime, .block-tags .block-content a, .tags-list li a, #jm-error, #cboxCurrent, #jm-setting .btn-toggle, .info-inner, .product-options dd select, .ja-tab-content, .product-shop, .breadcrumbs, .vertical-mega-menu .jm-megamenu .mega-item-des, .jm-megamenu ul.level2 li.mega li.mega a.mega, .jm-megamenu ul.level2 li.mega li a, .product-name a, .ul-dropdown, #jm-bots1, .jm-legal, #jm-tops1 ul li, .select-box2 select, .shop-access .links, .lits-category select, .block-cart .summary, .old-price span.price, .products-grid .product-information, .list-categories .block-title span span, .list-categories .category-title h1 span, .block-cart .product-details .product-name a, .products-grid button.jmquickview, #button-btt{font-family: 'Open Sans', sans-serif;}
.message h2, .products-list .add-to-links li a, #jm-error h3, #jm-error dl dt, .page-head-alt h2, #jm-setting .inner-toggle label, .contact-form .form-list label, .product-options dt label, .product-view .box-up-sell h2, .product-collateral h2, ul.ja-tab-navigator li, .product-essential h2, .product-view .product-shop .add-to-links, .add-to-cart label, .product-view .product-shop .availability, .jm-menu-top, span.price, .block-title, button.button, .page-title h1, .page-title h2, .block-cate h2, .toolbar label, .mycart-toggle span, button.btn-checkout, #jm-tops1 ul li span, .block-cart .subtotal, .block-cart span.price, .jm-slider li span.price, .account-login .content h2, .form-search button.button, .block-subscribe .input-box button, .list-categories .category-title h1, .jm-megamenu ul.level0 li.mega a.mega, .block-cate ul li a, .cart .totals td, .cart-table .product-name, .jm-megamenu .product-name a, .product-view .product-shop .price-box, #jm-error ul.none-disc li a{font-family: 'Open Sans', sans-serif; font-weight:600;}

/*Global CSS*/
.text-left{ text-align:left;}
.text-center{ text-align:center;}
.text-right{ text-align:right;}

#logo{ margin:10px 0;}
#jm-head {border-bottom:#d3d3d3 solid 1px;}
#jm-tops2 .col3-set .col-3{ margin-left:10px;}
#jm-tops2 .col3-set .col-3 iframe{ margin-bottom:5px;}
#jm-tops2 .col3-set .col-2{margin:0; width: auto; overflow: hidden; height: 1%; float: none;}
.jm-menu-top .jm-megamenu ul li a, .jm-menu-top .jm-megamenu ul li.active a, .jm-megamenu ul.level0 li.mega a.mega:hover, .jm-megamenu ul.level0 li.mega:hover > a.mega, .jm-megamenu ul.level0 li.mega a.mega {border-right: 1px solid #FFF;}
.jm-megamenu ul.level0 li.mega.last a:hover{ border:none;}
.jm-menu-top{ margin:0 0 10px;}
.block-cate h2, .page-title.category-title h1{ text-transform:none; font-size:28px; font-weight:normal;}
.block .block-title strong{ font-weight:600;}
.select-box select{ color:#3c3c3c;}
.form-search{ padding-left:5px;}
.form-search button.button{ margin:0; background:#d4d4d4; border-color:#d4d4d4; color:#463c57;}
#jm-bots1 a, #jm-bots1 .block-aboutus ul li a, #jm-bots1 ul.list-info li a, #jm-footer .jm-legal a{color:#009bcb;}
#jm-bots1 button.button{ background:#d4d4d4; color:#463c57; }
#jm-search{border: 1px solid #c8c8c8;}
#jm-search .select-box select{ line-height:normal;}
.lits-category{border-right: none;}
.block-subscribe .input-box button.button, .block-subscribe .input-box button.button:focus, .block-subscribe .input-box button.button:hover{ right:10px;}

.jm-slide-thumb, .jm-slide-thumbs-handles span{ background-color:#55a7b5; color:#55a7b5;}
.jm-slide-thumbs-handles span:hover, .jm-slide-thumbs-handles span:focus, .jm-slide-thumbs-handles span.active{background-color:#55a7b5; color:#55a7b5;}
.catalogsearch-advanced-result .page-title, .page-title.category-title, #jm-mycart .btn-toggle span{ text-transform:none;}
.block-layered-nav{ color:#454545; background:#ffffff; border:#d4d4d4 solid 1px;}
.block-layered-nav-filter .block-layered-content-filter .block-content{ border-top:none;}
.block-layered-nav .block-title {background: #463c57; color:#FFF; border-bottom:#d4d4d4 solid 1px; margin-bottom:0;}
.block-layered-content-filter, .block-layered-nav .currently li, .block-layered-nav-filter .actions a, .block-layered-nav-filter .actions a:hover{ background:none; color:#464646; }
#narrow-by-list ol{ padding:10px 0;}
#narrow-by-list dt{ background:#d4d4d4; border-bottom:#f6f6f6 solid 1px; text-transform:none; color:#464646; margin:0; padding:5px 0; font-size:14px; font-weight:normal; position:relative;}
#narrow-by-list dt:last-child{ border-bottom:none;}
#narrow-by-list dd li a{ padding:3px 0; text-indent:20px;}
#narrow-by-list dd li a, #narrow-by-list dd li a span.price, #narrow-by-list dd li a .special-price .price{ border:none; color:#454545;}
#narrow-by-list dd{ border-bottom:#d4d4d4 solid 1px;}
#narrow-by-list dd:last-child{ border:none;}
.jm-products-slider-horizon{margin: 0 20px 0 0;}
.jm-products-slider-horizon li{ border:#ebebeb solid 1px;}
.jm-products-slider-horizon li .product-information{ padding:10px 18px; text-align:left;}
.jm-products-slider-horizon li .product-image{ border:none;}
.jm-product-list .products-grid .product-image .New-label{ background:rgba(198, 198, 198, 0.9); right:-10px; color:#FFF;}
.cms-home #jm-tops1.jm-position{ margin:0 0 18px 0;}
#jm-tops1 .inner{ border-bottom:#f0f0f0 solid 1px; padding-bottom:18px;}

.col-2 .jm-products-slider-horizon {border-left: 0 none; border-left: 1px solid #ebebeb; padding: 0 0 0 20px ; margin:0;}
.col-2 .jm-products-slider-horizon li{ margin-right:19px; border:none;}
.col-2 .jm-products-slider-horizon .product-image{ border:#ebebeb solid 1px; overflow:hidden;}
.col-2 .jm-products-slider-horizon li .product-information{ padding:0;}
.col-2 .jm-products-slider-horizon .ratings{ margin:7px 0;}
.col-2.left .jm-products-slider-horizon {padding:0; border-right: 1px solid #ebebeb; border-left:none; padding-right:20px;}
/*.jm-products-slider-listing .block-title{ position:relative;}*/
.jm-product-list .product-name{ font-size:13px;}

.tiles-categories .col2-set{border: 1px solid #ebebeb; margin-bottom:40px;}
.tiles-categories .col-1{ width:43%; }
.tiles-categories .col-1 img{ max-width:100%;}
.tiles-categories .col-2{ width:55%; padding:10px 0 0 0;}
.tiles-categories .col-2 .jm-products-slider-horizon { border:none; padding:0 25px;}
.tiles-categories .block-title{ background:none; margin:0; padding:0;}
.tiles-categories .jm-products-slider-horizon .jm-prev, .tiles-categories .jm-products-slider-horizon .jm-next{ top:45%; z-index:100; right:-1px;}
.tiles-categories .jm-products-slider-horizon .jm-prev{ left:-5px; }
.tiles-categories .col-2 .jm-products-slider-horizon .product-image{ border:0;}

.tiles-categories .fa-caret-right:before {content: "\f101";}
.tiles-categories .fa-caret-left:before {content: "\f100";}
.tiles-categories .jm-prev, .tiles-categories .jm-next{ background:rgba(255, 255, 255, 0.8);  color:#CCC; border:none; font-size:36px;}
.tiles-categories .jm-prev:hover, .tiles-categories .jm-next:hover{color:#463c57;}

.block.jm-slideshow{ margin-bottom:10px;}

.sp-block-cate { text-align:left; border:0; padding:0;}
.sp-block-cate h2{ float:none; text-align:left; }
.sp-block-cate p{ text-align:left; width:65%; display:inline-block;}
.sp-block-cate ul{ width:34%; display:inline-block; margin-top:0; text-align:right; float:right;}
.page-title a{ font-size:13px;}

ul.megamenu{ margin:15px 20px;}
.megamenu h2{ font-size:15px;}
.megamenu .menu-i h2{ margin:10px 0 3px;}
.megamenu .menu-i ul { margin-left:-20px;}
.megamenu .menu-i ul li{ width:44%; display:inline-block; vertical-align:top; margin-left:20px;}
.jm-megamenu li.haschild:hover >.childcontent{ overflow:visible; transition: none ; -webkit-transition: none; -moz-transition: none; -o-transition: none; }
.jm-megamenu li.mega .childcontent{transition: none ; -webkit-transition: none; -moz-transition: none; -o-transition: none; }
/*.jm-megamenu li.haschild:hover >.childcontent:after{content: "."; display: block; background:#FFF; position:absolute; left:0; right:0; bottom:-3px; height:3px; transition: all .3s linear;
-webkit-transition: all .3s linear;}*/
.megamenu .menu-region{ position: absolute; left: 100%; top: -15px; background: #ebebeb; bottom: -15px; padding: 15px 20px; box-shadow:1px 1px 1px 1px #d1d1d1; min-width:150px; z-index:100; }

.top-contact:hover .c-tooltip{ display:block;}
.c-tooltip{ display:none; position:absolute; left:-32%; top:39px; background:#463c57; color:#fffffd; padding:17px 15px; z-index:100; font-size:14px; border-radius:5px; display:none;}
.c-tooltip span{ display:block; margin:0 0 10px 0;}
.c-tooltip span:last-child{ margin:0;}
.c-tooltip .fa-caret-up{ position: absolute; left: 49%; top: -12px; color: #463c57; font-size: 18px;}


/*overwrite*/
#jm-head .has-toggle{ white-space:nowrap;}
.cms-home #mainnav-inner{ display:block; margin:0 0 10px 0;}
.goog-te-gadget-simple{ border:0!important; line-height:1; height:25px;}
.goog-te-menu-value { font-size:11px;}
.goog-te-menu-value span{ border:0!important;}
.childcontent-inner.clearfix:after{ display:none;}
.jm-megamenu .megacol{ background:#FFF;}
.block-currency{ background:none; height:auto; margin-right:60px;}
.block-currency .block-content { overflow:hidden;}
.block-currency .block-content select{ width:115%; border:none; color:#454545; font-size:11px; margin-top:4px; background:none; position:relative; appearance:none; -webkit-appearance:none; -moz-appearance:none; -mso-appearance:none;}
.block-currency .block-content:before{ position:absolute; left:0; top:9px; content:'|'; color:#d4d4d4;}
.block-currency .block-content:after{ z-index:-1; position:absolute; right:70px; top:18px; content:'';  width: 0; height:0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 8px solid #9b9b9b;}

#menu-banners img{max-width:100%;}
#menu-banners .col-6{ width:46%; margin:15px 10px 0 0; display:inline-block;}
#menu-banners a img:hover{opacity:0.9;}
.cart-table tfoot td:first-of-type, .cart-table tfoot th:first-of-type, .cart-table td:first-of-type, .cart-table th:first-of-type{ padding:10px;}
.form-search input.input-text, .form-search input.input-text:focus{ margin-left:5px; width:370px;}
.block-progress{ background:#FFF; border:solid 1px #eeeeee;}
.block-progress .block-title{ border-color:#eeeeee;}
.block-progress dt{ color:#464646;}

.list-type-slider{ margin-bottom:35px;}
.list-type-slider .jm-products-slider-horizon li { border:none;}
.list-type-slider .block-title{ background:none; margin:0; padding:0;}
.list-type-slider .jm-products-slider-horizon .jm-prev, .list-type-slider .jm-products-slider-horizon .jm-next{ top:45%; z-index:100;}
.list-type-slider .jm-products-slider-horizon .jm-prev{ left:7px; }
.list-type-slider .jm-products-slider-horizon .product-image{ border:0;}
.list-type-slider .jm-products-slider-horizon{ margin-right:0;}
.list-type-slider .jm-products-slider-horizon .ratings{ margin-left:0;}
#narrow-by-list dd li.filter-cat.active .filter-subcat{ border-bottom:none;}
.list-banner-img{ margin-bottom:20px;}
.form-search button.button:hover{ background:#463c57; color:#FFF;}
.jm-prev:hover, .jm-prev:focus, .jm-next:hover, .jm-next:focus{ border-color:#463c57;}
.megamenu .menu-i ul li{ line-height:1.8;}
#jm-tops2 .inner{ padding-bottom:10px;}

.tiles-set .inner{ margin-left:0px;}
.tiles-set .col-4{ width:32%; display:inline-block; margin-left:10px; margin-bottom:10px;}
.tiles-set .col-4 img{ max-width:100%;}
.block-currency .block-content select{ cursor:pointer;}
.block-currency .block-content select:hover{color:#463c57}
.products-grid li.item{ display:inline-block; width:24%!important; vertical-align:top; float:none;}

#off-canvas-nav .megamenu .plus{position: absolute; right: 20px; top: 20px; background: #d4d4d4; padding:1px 0 3px; font-size: 16px; line-height: 1; cursor:pointer; width: 25px; text-align: center; color:#FFF}
#off-canvas-nav .megamenu .plus:hover{ background:#c6c6c6;}
#off-canvas-nav .megamenu li{ position:relative;}
#off-canvas-nav .megamenu .menu-i{ position:relative;}
#off-canvas-nav .megamenu .menu-i:after{visibility: hidden;display: block; font-size: 0; content: " "; clear: both; height: 0;}
#off-canvas-nav .megamenu .menu-i .plus{ right:0; top:7px;}
.jm-megamenu ul.level0 li.haschild a.mega{ padding:0 30px 0 20px;}
.jm-megamenu ul.level0 li.haschild:after{ color:#FFF; position:absolute; right:15px; top:18px; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content:"\f107";}
.block-layered-nav .currently li span.label{ font-weight:normal;}
#off-canvas-nav #menu-banners .col-6{ width:42%; margin:5px 5px 0 0;}
.jm-megamenu ul.level0 li.haschild.active:after, .jm-megamenu ul.level0 li.haschild:hover:after{color:#463c57;}
.page-title.category-title h1{ padding-top:0; padding-bottom:5px;}
#jm-head a{ color:#454545;}
.jm-products-slider-horizon .jm-prev, .jm-products-slider-horizon .jm-next, .jm-products-slider-vertical .jm-prev, .jm-products-slider-vertical .jm-next{ top:20px;}
.list-categories .block-title{ position:relative;}
.list-categories .block-title, .list-categories .category-title{ padding:18px 0 10px;}
#jm-breadcrumbs{padding: 10px 0 0;}
#jm-mainbody{padding: 10px 0 40px;}
.jm-slider .products-grid button.jmquickview{top: 42%; margin: 0; position: relative;}

/*quick view*/
.product-essential{ padding:15px;}
.product-view .product-shop .short-description h2{ margin-bottom:5px;}
.product-view .product-shop .short-description .read-more { text-align:right;}
.product-view .product-shop .short-description .read-more a{ text-decoration:underline;}
#cboxLoadedContent{ margin:0;}
#cboxPrevious, #cboxNext, #cboxCurrent{ display:none!important;}
#cboxLoadedContent .product-view .product-shop{ width:400px;}
.product-options dt, .product-options dd{ display:inline-block; margin-right:3px;}
.product-options dd{ padding:0;}
.product-options dd select{ width:auto; padding:5px;}
.product-name a span{ display:block; line-height:1.5;}
#cboxClose{ top:10px; right:10px;}

/*Product detail page*/
.product-view .product-img-box{ margin:0 20px 0 0;}
.product-view .product-shop{ padding:0; width:655px;}
.product-view .product-img-box .product-image-zoom{ border:#eaeaea solid 1px;}
.product-shop .product-name h1{ margin:0 0 5px 0;}
.product-view .product-shop .add-to-links { top:10px;}
.product-view .product-shop .base-info li{ margin:5px 0;}
.product-view .product-shop .ratings{ margin-bottom:0;}
.product-view .product-shop .availability{ margin:0;}
.product-view .product-shop .price-box{ margin:0;}
.product-view .product-shop .add-to-links a, .product-view .box-up-sell h2{ text-transform:none;}
.product-view .c-section{border-bottom:#eaeaea solid 1px; margin-bottom:15px; padding-bottom:15px;}
.product-shop .product-options{ display:inline-block;}
.product-shop .tick-list{ margin-bottom:15px;}
.product-shop .tick-list i{ font-size:20px; margin-right:5px;}
.product-shop .tick-list li{ display:inline-block; width:45%; font-size:14px; font-weight:bold; padding:5px 10px;}
.product-view .panel-center{ overflow:hidden; height:1%;}
.product-view .panel-center .description{ min-height:250px;}
.product-view .panel-right{ float:right; width:375px; margin-left:20px;}
.product-view .box-up-sell{ float:none; width:auto;  margin-bottom:20px;}
.product-view .box-up-sell .products-grid li.item{ width:100%!important; position:relative; min-height:90px;}
.product-view .box-up-sell .jmquickview{ display:none;}
.product-view .box-up-sell .products-grid .product-image{ position:absolute; left:0; top:0; border:#eaeaea solid 1px;}
.product-view .box-up-sell .product-name, .product-view .box-up-sell .price-box{padding-left:70px;}
.product-view .box-up-sell .ratings{ display:none;}
.product-view .block .block-title{ text-transform: none;}
.product-view .panel-center .c-section{ margin-bottom:20px; padding-bottom:15px;}
.list-type-slider .jm-products-slider-horizon .jm-next{ right:8px;}
/*#jm-tops2 .jm-slider{ width:750px!important;}*/
#jm-tops2 .jm-slider li{ min-height:138px;}
.content-upsell{ padding:20px;}
.product-view .tool-tip{ background: #f9f7f8; position: absolute; left: 27px; top: 25px; padding: 5px; border-color: #CCC;z-index:10; display:none;}
.product-view .tool-tip .fa-caret-up{ position:absolute; left:14px; top:-10px; font-size:14px;}
.product-view .tool-tip textarea{ width:220px; padding:5px 10px; min-height:65px;}
.product-view .product-shop .add-to-links li{ position:relative;}
.product-view textarea:focus{ background:#FFF;}
.product-collateral h2{ margin-bottom:0;}
.product-view .box-reviews dt{ margin-top:15px; font-weight:bold;}
#narrow-by-list dd li .filter-subcat span a{ display:block; background:none; color:#454545; margin-top:0;}
#narrow-by-list dd li .filter-subcat span a:hover{ background:none; color:#454545;}
.filter-subcat{ padding:0 20px;}
#narrow-by-list dd li.filter-cat.active a{ color:#454545;}

.block-layered-nav .block-content{ padding:0;}
#narrow-by-list dt .handle{position: absolute; right: 15px; top:5px; padding:1px 0 3px; font-size: 16px; line-height: 1; cursor:pointer; width: 25px; text-align: center; color:#454545; background: url(../images/bg-accodior-shopby.png) no-repeat 0 -38px;
height: 24px; width: 24px;}
#narrow-by-list dt .handle.active {background-position: 0 100%;  top:1px;}
#narrow-by-list dt .handle:hover {background-position: 0 0;}
#ja-tabitem-reviewform{ min-height:120px;}
.product-shop .product-options{ margin-left:10px; vertical-align:top;}
.product-options dt label{ margin-bottom:0;}
.product-options dt{ vertical-align:top; margin-top:7px; margin-bottom:0;}
.product-shop .input-text.qty{ padding:7px 10px;}

/*Cart page*/
.cart-table .product-name{ margin-bottom:10px;}
.cart-table .link-wishlist{ font-weight:normal; display:inline-block; margin:2px 0; }
.cart-table .item-options dd, .cart-table .item-options dt{ display:inline-block; padding-left:0; font-style:normal; margin-bottom:0; font-weight:bold;}
.cart-table .user-remark{ color:#454545; font-size:14px;}
.cart .page-title{ margin-bottom:5px; text-transform:none;}
.cart .page-title h1{ font-size:26px; font-weight:normal;}

@media only screen and (max-width: 985px) {
.tiles-categories .col-1, .tiles-categories .col-2{ width:100%; text-align:center;}
#select-language, .menu-region, .block-currency .block-content{ display:none;}
.sp-block-cate ul, .sp-block-cate p{ width:100%;}	
#jm-search{ top:103px; right:7px;}
#jm-header #jm-search .btn-toggle{ right:0;}
.form-search{ width:100%;}
.form-search input.input-text, .form-search input.input-text:focus{ width:72%;}
#jm-header #jm-search .inner-toggle.active{ right:-1px;}
.top-contact:hover .c-tooltip{ display:none;}
.catalog-category-view .products-grid .product-name, .products-grid .price-box, .block .block-content .product-name, .products-grid .ratings{ text-align:center;}
.ratings .rating-box, .rating-links{ display:inline-block; float:none;}
.jm-products-slider-horizon li .item-slider{ left:0;}
.col-2 .jm-products-slider-horizon .ratings{ margin:0 auto;}
.col-2 .jm-products-slider-horizon li{ margin-right:0;}
.col-1 .jm-products-slider-horizon li{ border:0;}
.col-1 .jm-products-slider-horizon li .item-slider{ left:-28px;}
.tiles-set .col-4{ width:31%;}
.products-grid li.item, .category-products .products-grid li.item{ width:48%!important; }
.tiles-categories .jm-products-slider-horizon .jm-prev{ left:2px;}
.tiles-categories .jm-products-slider-horizon .jm-next{ right:2px;}
.block.jm-products-slider-vertical .product-name, .jm-products-slider-vertical .products-grid .price-box{ text-align:left;}
.product-view .panel-right{ display:none;}
.product-view .panel-center{ overflow:visible; height:auto;}
.product-view .product-shop{ width:auto;}
.product-view #product-video{ display:none;}
}


@media only screen and (max-width: 480px){
.quick-access .btn-toggle {right: 80px !important;}
#jm-header #jm-search .btn-toggle{ left:103px; top:-94px;}
#jm-head .btn-toggle{ top:-44px;}
#jm-header #jm-mainnav .btn-toggle{ top:1px;}
#jm-search{ border:none; top: 95px; right: 23px;}
.block-subscribe .input-box button.button, .block-subscribe .input-box button.button:focus, .block-subscribe .input-box button.button:hover{ right:0;}
#jm-header #jm-search .inner-toggle.active{ right:-23px;  left:23px;}
.form-search input.input-text, .form-search input.input-text:focus{ width:60%;}
.col-1 .jm-products-slider-horizon li .item-slider{ left:0;}
.tiles-categories .jm-products-slider-horizon li .item-slider{ }



.jm-products-slider-horizon li .item-slider{ float:none; text-align:center; margin:0 auto;}
.col-2 .jm-products-slider-horizon{ padding:0 20px; border:none;}
.col-2 .jm-products-slider-horizon li{ margin-left:3px;}
.tiles-set .col-4{ width:100%;}
.products-grid li.item, .category-products .products-grid li.item{ width:100%!important; }
.jm-products-slider-horizon{margin: 0;}
.col-2.left .jm-products-slider-horizon{ padding:0 20px;}
.product-shop .tick-list li{ width:100%;}
}