@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

a, a:visited{ color:#463c57;}

body{font-family: 'Open Sans', sans-serif;}
.filter-subcat a, .jm-datetime, .block-tags .block-content a, .tags-list li a, #jm-error, #cboxCurrent, #jm-setting .btn-toggle, .info-inner, .product-options dd select, .ja-tab-content, .product-shop, .breadcrumbs, .vertical-mega-menu .jm-megamenu .mega-item-des, .jm-megamenu ul.level2 li.mega li.mega a.mega, .jm-megamenu ul.level2 li.mega li a, .product-name a, .ul-dropdown, #jm-bots1, .jm-legal, #jm-tops1 ul li, .select-box2 select, .shop-access .links, .lits-category select, .block-cart .summary, .old-price span.price, .products-grid .product-information, .list-categories .block-title span span, .list-categories .category-title h1 span, .block-cart .product-details .product-name a, .products-grid button.jmquickview, #button-btt{font-family: 'Open Sans', sans-serif;}
.message h2, .products-list .add-to-links li a, #jm-error h3, #jm-error dl dt, .page-head-alt h2, #jm-setting .inner-toggle label, .contact-form .form-list label, .product-options dt label, .product-view .box-up-sell h2, .product-collateral h2, ul.ja-tab-navigator li, .product-essential h2, .product-view .product-shop .add-to-links, .add-to-cart label, .product-view .product-shop .availability, .jm-menu-top, span.price, .block-title, button.button, .page-title h1, .page-title h2, .block-cate h2, .toolbar label, .mycart-toggle span, button.btn-checkout, #jm-tops1 ul li span, .block-cart .subtotal, .block-cart span.price, .jm-slider li span.price, .account-login .content h2, .form-search button.button, .block-subscribe .input-box button, .list-categories .category-title h1, .jm-megamenu ul.level0 li.mega a.mega, .block-cate ul li a, .cart .totals td, .cart-table .product-name, .jm-megamenu .product-name a, .product-view .product-shop .price-box, #jm-error ul.none-disc li a{font-family: 'Open Sans', sans-serif; font-weight:600;}

#logo{ margin:10px 0;}
#jm-head {border-bottom:#d3d3d3 solid 1px;}
#jm-tops2 .col3-set .col-3{ margin-left:10px;}
#jm-tops2 .col3-set .col-2{margin:0; width: auto; overflow: hidden; height: 1%; float: none;}
.jm-menu-top .jm-megamenu ul li a, .jm-menu-top .jm-megamenu ul li.active a, .jm-megamenu ul.level0 li.mega a.mega:hover, .jm-megamenu ul.level0 li.mega:hover > a.mega, .jm-megamenu ul.level0 li.mega a.mega {border-right: 1px solid #FFF;}
.jm-menu-top{ margin:0 0 10px;}
.block-cate h2{ text-transform:none; font-size:28px; font-weight:normal;}
.block .block-title strong{ font-weight:600;}
.select-box select{ color:#3c3c3c;}
.form-search button.button{ margin:0; background:#d4d4d4; border-color:#d4d4d4; color:#463c57;}
#jm-bots1 a, #jm-bots1 .block-aboutus ul li a, #jm-bots1 ul.list-info li a, #jm-footer .jm-legal a{color:#009bcb;}
#jm-bots1 button.button{ background:#8fd04e; }
#jm-search{border: 1px solid #c8c8c8;}
#jm-search .select-box select{ line-height:normal;}
.lits-category{border-right: none;}
.block-subscribe .input-box button.button, .block-subscribe .input-box button.button:focus, .block-subscribe .input-box button.button:hover{ right:10px;}

.jm-slide-thumb, .jm-slide-thumbs-handles span{ background-color:#55a7b5; color:#55a7b5;}
.jm-slide-thumbs-handles span:hover, .jm-slide-thumbs-handles span:focus, .jm-slide-thumbs-handles span.active{background-color:#55a7b5; color:#55a7b5;}
.catalogsearch-advanced-result .page-title, .page-title.category-title, #jm-mycart .btn-toggle span{ text-transform:none;}
.block-layered-nav{ color:#454545; background:#ffffff; border:#d4d4d4 solid 1px;}
.block-layered-nav-filter .block-layered-content-filter .block-content{ border-top:none;}
.block-layered-nav .block-title {background: #fbfbfb; color:#464646; border-bottom:#d4d4d4 solid 1px; margin-bottom:0;}
.block-layered-content-filter, .block-layered-nav .currently li, .block-layered-nav-filter .actions a, .block-layered-nav-filter .actions a:hover{ background:none; color:#464646; }
#narrow-by-list ol{ padding:10px 0;}
#narrow-by-list dt{ border-bottom:#d4d4d4 solid 1px; text-transform:none; color:#464646; margin:0; padding:5px 0; font-size:14px;}
#narrow-by-list dd li a{ padding:7px 0;}
#narrow-by-list dd li a, #narrow-by-list dd li a span.price, #narrow-by-list dd li a .special-price .price{ border:none; color:#454545;}
#narrow-by-list dd{ border-bottom:#d4d4d4 solid 1px;}
#narrow-by-list dd:last-child{ border:none;}
.jm-products-slider-horizon{margin: 0 20px 0 0;}
.jm-products-slider-horizon li{ border:#ebebeb solid 1px;}
.jm-products-slider-horizon li .product-information{ padding:10px 18px; text-align:left;}
.jm-products-slider-horizon li .product-image{ border:none;}
.jm-product-list .products-grid .product-image .New-label{ background:rgba(155, 210, 100, 0.7); right:-7px;}
.cms-home #jm-tops1.jm-position{ margin:0 0 18px 0;}
#jm-tops1 .inner{ border-bottom:#f0f0f0 solid 1px; padding-bottom:18px;}

.col-2 .jm-products-slider-horizon li{ margin-right:19px; border:none;}
.col-2 .jm-products-slider-horizon .product-image{ border:#ebebeb solid 1px; overflow:hidden;}
.col-2 .jm-products-slider-horizon {border-left: 0 none; border-left: 1px solid #ebebeb; padding: 0 0 0 20px ; margin:0;}
.col-2 .jm-products-slider-horizon li .product-information{ padding:0;}
.col-2 .jm-products-slider-horizon .ratings{ margin:7px 0;}
.jm-product-list .product-name{ font-size:13px;}

.tiles-categories .col2-set{border: 1px solid #ebebeb; margin-bottom:40px;}
.tiles-categories .col-1{ width:45%; }
.tiles-categories .col-1 img{ max-width:100%;}
.tiles-categories .col-2{ width:55%; padding:10px 0 0 0;}
.tiles-categories .col-2 .jm-products-slider-horizon { border:none;}
.tiles-categories .block-title{ background:none; margin:0; padding:0;}
.tiles-categories .jm-products-slider-horizon .jm-prev, .tiles-categories .jm-products-slider-horizon .jm-next{ top:45%; z-index:100;}
.tiles-categories .jm-products-slider-horizon .jm-prev{ left:7px; }
.tiles-categories .col-2 .jm-products-slider-horizon .product-image{ border:0;}


.block.jm-slideshow{ margin-bottom:10px;}

.sp-block-cate { text-align:left; border:0; padding:0;}
.sp-block-cate h2{ float:none; text-align:left; }
.sp-block-cate p{ text-align:left; width:65%; display:inline-block;}
.sp-block-cate ul{ width:34%; display:inline-block; margin-top:0; text-align:right; float:none;}
.page-title a{ font-size:13px;}

ul.megamenu{ margin:15px 20px;}
.megamenu .menu-i h2{ margin:10px 0 0;}
.megamenu .menu-i ul { margin-left:-20px;}
.megamenu .menu-i ul li{ width:44%; display:inline-block; vertical-align:top; margin-left:20px;}
.jm-megamenu li.haschild:hover >.childcontent{ overflow:visible; transition: none ; -webkit-transition: none; -moz-transition: none; -o-transition: none; }
.jm-megamenu li.mega .childcontent{transition: none ; -webkit-transition: none; -moz-transition: none; -o-transition: none; }
/*.jm-megamenu li.haschild:hover >.childcontent:after{content: "."; display: block; background:#FFF; position:absolute; left:0; right:0; bottom:-3px; height:3px; transition: all .3s linear;
-webkit-transition: all .3s linear;}*/
.megamenu .menu-region{ position: absolute; left: 100%; top: -15px; background: #ebebeb; bottom: -15px; padding: 15px 20px; box-shadow:1px 1px 1px 1px #d1d1d1; min-width:150px; z-index:100; }

.top-contact:hover .c-tooltip{ display:block;}
.c-tooltip{ position:absolute; left:-32%; top:39px; background:#463c57; color:#fffffd; padding:17px 15px; z-index:100; font-size:14px; border-radius:5px; display:none;}
.c-tooltip span{ display:block; margin:0 0 10px 0;}
.c-tooltip span:last-child{ margin:0;}
.c-tooltip .fa-caret-up{ position: absolute; left: 49%; top: -12px; color: #463c57; font-size: 18px;}


/*overwrite*/
#jm-head .has-toggle{ }
.cms-home #mainnav-inner{ display:block; margin:0 0 10px 0;}
.goog-te-gadget-simple{ border:0!important; line-height:1; height:25px;}
.goog-te-menu-value { font-size:11px;}
.goog-te-menu-value span{ border:0!important;}
.childcontent-inner.clearfix:after{ display:none;}
.jm-megamenu .megacol{ background:#FFF;}
.block-currency{ background:none; height:auto; margin-right:60px;}
.block-currency .block-content { overflow:hidden;}
.block-currency .block-content select{ width:115%; border:none; color:#8d8d8d; font-size:11px; margin-top:4px; background:none; position:relative; appearance:none; -webkit-appearance:none; -moz-appearance:none; -mso-appearance:none;}
.block-currency .block-content:before{ position:absolute; left:0; top:9px; content:'|'; color:#d4d4d4;}
.block-currency .block-content:after{ z-index:-1; position:absolute; right:70px; top:18px; content:'';  width: 0; height:0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 8px solid #9b9b9b;}

#menu-banners img{max-width:100%;}
#menu-banners .col-6{ width:46%; margin:15px 10px 0 0; display:inline-block;}
#menu-banners a img:hover{opacity:0.9;}
.cart-table tfoot td:first-of-type, .cart-table tfoot th:first-of-type, .cart-table td:first-of-type, .cart-table th:first-of-type{ padding:10px;}
.form-search input.input-text, .form-search input.input-text:focus{ margin-left:5px;}
.block-progress{ background:#FFF; border:solid 1px #eeeeee;}
.block-progress .block-title{ border-color:#eeeeee;}
.block-progress dt{ color:#464646;}

.list-type-slider{ margin-bottom:35px;}
.list-type-slider .jm-products-slider-horizon li { border:none;}
.list-type-slider .block-title{ background:none; margin:0; padding:0;}
.list-type-slider .jm-products-slider-horizon .jm-prev, .list-type-slider .jm-products-slider-horizon .jm-next{ top:45%; z-index:100;}
.list-type-slider .jm-products-slider-horizon .jm-prev{ left:7px; }
.list-type-slider .jm-products-slider-horizon .product-image{ border:0;}
.list-type-slider .jm-products-slider-horizon{ margin-right:0;}
.list-type-slider .jm-products-slider-horizon .ratings{ margin-left:0;}
#narrow-by-list dd li.filter-cat.active .filter-subcat{ border-bottom:none;}

@media only screen and (max-width: 985px) {
.tiles-categories .col-1, .tiles-categories .col-2{ width:100%; text-align:center;}
#select-language, .menu-region, .block-currency .block-content{ display:none;}
.sp-block-cate ul, .sp-block-cate p{ width:100%;}	
}


@media only screen and (max-width: 480px){
.quick-access .btn-toggle {right: 80px !important;}
#jm-header #jm-search .btn-toggle{ left:103px; top:-95px;}
#jm-search{ border:none;}
.block-subscribe .input-box button.button, .block-subscribe .input-box button.button:focus, .block-subscribe .input-box button.button:hover{ right:0;}
}