<?xml version="1.0"?>
<config>
  <modules>
    <Aurigait_Invitefriend>
      <version>0.1.0</version>
    </Aurigait_Invitefriend>
  </modules>
  <frontend>
    <routers>
      <invitefriend>
        <use>standard</use>
          <args>
            <module>Aurigait_Invitefriend</module>
            <frontName>invitefriend</frontName>
          </args>
      </invitefriend>
    </routers>
		<layout>
		  <updates>
			<invitefriend>
			  <file>invitefriend.xml</file>
			</invitefriend>
		  </updates>
		</layout>
  </frontend>
  <global>
  <models>
            <invitefriend>
                <class>Aurigait_Invitefriend_Model</class>
                <resourceModel>sendfriend_resource</resourceModel>
            </invitefriend>
            <invitefriend_resource>
                <class>Aurigait_Invitefriend_Model_Resource</class>
                <deprecatedNode>sendfriend_mysql4</deprecatedNode>
                <resourceModel>sendfriend_mysql4</resourceModel>
                <entities>
                    <sendfriend>
                        <table>sendfriend_log</table>
                    </sendfriend>
                </entities>
            </invitefriend_resource>
        </models>
        <resources>
            <invitefriend_setup>
                <setup>
                    <module>Aurigait_Invitefriend</module>
                    <class>Aurigait_Invitefriend_Model_Resource_Setup</class>
                </setup>
            </invitefriend_setup>
        </resources>
    <helpers>
      <invitefriend>
        <class>Aurigait_Invitefriend_Helper</class>
      </invitefriend>
    </helpers>
	<blocks>
	  <invitefriend>
		<class>Aurigait_Invitefriend_Block</class>
	  </invitefriend>
	</blocks>
	<resources>
	  <invitefriend_setup>
		<setup>
		  <module>Aurigait_Invitefriend</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </invitefriend_setup>
	  <invitefriend_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </invitefriend_write>
	  <invitefriend_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </invitefriend_read>
	</resources>
  </global>
</config> 