<?xml version="1.0"?>
<config>
  <modules>
    <Aurigait_CommonIndidelights>
      <version>0.1.0</version>
    </Aurigait_CommonIndidelights>
  </modules>
  <frontend>
  	<routers>
 		<contacts>
	      	<args>
                 <modules>
                     <Aurigait_CommonIndidelights before="Mage_Contacts">Aurigait_CommonIndidelights</Aurigait_CommonIndidelights>
                 </modules>
            </args>
      	</contacts>
  	</routers>
  	
  </frontend>
  <global>
    <helpers>
      <commonindidelights>
        <class>Aurigait_CommonIndidelights_Helper</class>
      </commonindidelights>
    </helpers>
	<models>
	  <commonindidelights>
		<class>Aurigait_CommonIndidelights_Model</class>
		<resourceModel>commonindidelights_mysql4</resourceModel>
	  </commonindidelights>
	</models>
	<blocks>
	  <commonindidelights>
		<class>Aurigait_Commonindidelights_Block</class>
	  </commonindidelights>
	</blocks>
 
	<events>
	  <checkout_cart_product_add_after> <!-- identifier of the event we want to catch -->
        <observers>
          <add_cart_event> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>commonindidelights/observer</class> <!-- observers class alias -->
            <method>addRemarkToQuote</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </add_cart_event>
          
        </observers>
      </checkout_cart_product_add_after>
      
      
      <checkout_cart_product_update_after> <!-- identifier of the event we want to catch -->
        <observers>
          <update_cart_event> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>commonindidelights/observer</class> <!-- observers class alias -->
            <method>addRemarkToQuote</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </update_cart_event>
          
        </observers>
      </checkout_cart_product_update_after>
    
    	<sales_convert_quote_item_to_order_item>
            <observers>
                <quoteitem_set_custom_data>
                    <class>commonindidelights/observer</class>
                    <method>addRemarkToOrder</method>
                </quoteitem_set_custom_data>
            </observers>
    	</sales_convert_quote_item_to_order_item>
    </events>
	<resources>
	 <categoryattribute1398663914_setup>
		<setup>
		  <module>Aurigait_CommonIndidelights</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1398663914_setup>
	  <categoryattribute1398663914_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1398663914_write>
	  <categoryattribute1398663914_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1398663914_read>
	 <!--
	  <testsetup1234_setup>
			 <setup>
			   <module>Aurigait_CommonIndidelights</module>
			   <class>Mage_Sales_Model_Mysql4_Setup</class>
			 </setup>
			 <connection>
			   <use>core_setup</use>
			 </connection>
		   </testsetup1234_setup>
		   <testsetup1234_write>
			 <connection>
			   <use>core_write</use>
			 </connection>
		   </testsetup1234_write>
		   <testsetup1234_read>
			 <connection>
			   <use>core_read</use>
			 </connection>
		   </testsetup1234_read>
		   -->
	 
	  <salesattribute1399294199_setup>
		<setup>
		  <module>Aurigait_CommonIndidelights</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1399294199_setup>
	  <salesattribute1399294199_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1399294199_write>
	  <salesattribute1399294199_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1399294199_read>
		</resources>
	<fieldsets>
		<customer_account> 
			<country><create>1</create><update>1</update></country>
			<region><create>1</create><update>1</update></region>
		</customer_account>
	</fieldsets>	
  </global>
</config> 