<?xml version="1.0"?>
<config>
  <modules>
    <Aurigait_CommonIndidelights>
      <version>0.1.0</version>
    </Aurigait_CommonIndidelights>
  </modules>
  <global>
    <helpers>
      <commonindidelights>
        <class>Aurigait_CommonIndidelights_Helper</class>
      </commonindidelights>
    </helpers>
	<models>
	  <commonindidelights>
		<class>Aurigait_CommonIndidelights_Model</class>
		<resourceModel>commonindidelights_mysql4</resourceModel>
	  </commonindidelights>
	</models>
	<resources>
					 <festcateattr_setup>
									<setup>
										<module>Aurigait_CommonIndidelights</module>
										<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
									</setup>
									<connection>
										<use>core_setup</use>
									</connection>
					</festcateattr_setup>
					<festcateattr_write>
						<connection>
							<use>core_write</use>
						</connection>
					</festcateattr_write>
					<festcateattr_read>
						<connection>
							<use>core_read</use>
						</connection>
					</festcateattr_read>
	  <categoryattribute1398663914_setup>
		<setup>
		  <module>Aurigait_CommonIndidelights</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1398663914_setup>
	  <categoryattribute1398663914_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1398663914_write>
	  <categoryattribute1398663914_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1398663914_read>
	</resources>
  </global>
</config> 